

// Core variables and mixins
@import "bootstrap/variables";

@font-face {
	font-family: 'Helvetica-Neue-medium';
	src: url('../fonts/Helvetica-Neue/Helvetica-Neue-medium/HelveticaNeue-medium.eot');
	src: url('../fonts/Helvetica-Neue/Helvetica-Neue-medium/HelveticaNeue-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Helvetica-Neue/Helvetica-Neue-medium/HelveticaNeue-medium.woff') format('woff'),
		url('../fonts/Helvetica-Neue/Helvetica-Neue-medium/HelveticaNeue-medium.ttf') format('truetype'),
		url('../fonts/Helvetica-Neue/Helvetica-Neue-medium/HelveticaNeue-medium.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'VWHeadWeb-Bold';
  src: url('../fonts/VWHeadWeb/VWHeadWeb-Bold/VWHeadWeb-Bold.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/VWHeadWeb/VWHeadWeb-Bold/VWHeadWeb-Bold.woff') format('woff'),
  	   url('../fonts/VWHeadWeb/VWHeadWeb-Bold/VWHeadWeb-Bold.ttf')  format('truetype'),
  	   url('../fonts/VWHeadWeb/VWHeadWeb-Bold/VWHeadWeb-Bold.svg#Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VWHeadWeb-Regular';
  src: url('../fonts/VWHeadWeb/VWHeadWeb-Regular/VWHeadWeb-Regular.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/VWHeadWeb/VWHeadWeb-Regular/VWHeadWeb-Regular.woff') format('woff'),
  	   url('../fonts/VWHeadWeb/VWHeadWeb-Regular/VWHeadWeb-Regular.ttf')  format('truetype'),
  	   url('../fonts/VWHeadWeb/VWHeadWeb-Regular/VWHeadWeb-Regular.svg#Font') format('svg');
  font-weight: normal;
  font-style: normal;
}


@import "components/vars";

 @import "bootstrap/mixins";
 @import "bootstrap/normalize";
 @import "bootstrap/grid";
 // @import "bootstrap/responsive-utilities";
 //@import "bootstrap/utilities";






@import "components/body";


.workarea{
	line-height: 1.3;
	font-family: 'VWHeadWeb-Regular',sans-serif;
	h1{
		margin: 0;
		margin-bottom: 20px;
		font-weight: normal;
		font-size: 60px;
		line-height: 65px;
		font-family: 'VWHeadWeb-Bold', sans-serif;
		letter-spacing: -0.025em;
	}
	h2{
		margin: 0;
		margin-bottom: 18px;
		font-weight: normal;
		font-size: 45px;
    	line-height: 50px;
		font-family: 'VWHeadWeb-Bold', sans-serif;
		letter-spacing: -0.025em;
	}
	h3{
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 28px;
    	line-height: 33px;
	    font-weight: normal;
	    font-family: 'VWHeadWeb-Bold', sans-serif;
		letter-spacing: -0.025em;
	}
	h4{
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 24px;
    	line-height: 28px;
	    font-weight: normal;
	    font-family: 'VWHeadWeb-Bold', sans-serif;
		letter-spacing: -0.025em;
	}
	h5{
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 20px;
    	line-height: 24px;
	    font-weight: normal;
	    font-family: 'VWHeadWeb-Bold', sans-serif;
		letter-spacing: -0.025em;
	}
	h6{
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 18px;
    	line-height: 20px;
	    font-weight: normal;
	    font-family: 'VWHeadWeb-Bold', sans-serif;
		letter-spacing: -0.025em;
	}
	p{
		margin: 0;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-o-hyphens: auto;
		hyphens: auto;
		margin-bottom: 20px;
		line-height: 1.5;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #000;
	}
	li{
		line-height: 1.5;
	}
	a{
		&:hover{
			 color: #0068aa;
		}
	}
}

// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


a.btn{
	color: #fff;
    background-color: #0099da;
    border-color: #0099da;
    display: inline-block;
    width: 200px;
    text-align: center;
        font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    height: 42px;
    line-height: 40px;
    transition:all 0.3s ease;
    font-family: 'VWHeadWeb-Bold';
    &:active, &:focus, &:visited {
	    color: #fff;
	}
	&:hover{
		background-color: #0068aa;
    	border-color: #0068aa;
    	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	}
}


.t-center{
	text-align: center;
}

.grey-scheme{
	background: #f3f5f6;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}
.show {
    display: block !important;
}

.b-fixed{
	position: fixed;
	overflow: hidden;
	width: 100%;
}


.layout{
	// display: table;
	// table-layout: fixed;
 //  	height: 100%;
 //  	width: 100%;
}



.wrapper{
	// display: table-row;
	// height: 100%;
	margin-left: 96px;
}
.container-fluid{
	// max-width: 1280px;
	padding: 0;
	position: relative;
	width: 100%;
	padding-left: 80px;
    padding-right: 80px;
}


.page-content{
	// display: table-cell;
	// height: 100%;
}



.page-header{
	
}

.page-header__logo{
	display: block;
}

.page-nav{
	top: 0;
    z-index: 1000;
    position: fixed;
    display: block;
    min-width: 96px;
    max-width: 116px;
    height: 100%;
    padding: 0;
    -webkit-box-shadow: 5px -10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 5px -10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background: #fff;
    border-right: 1px solid transparent;
    &.page-nav--border{
		box-shadow: none !important;
		border-right: 1px solid #dee1e3;
		.page-nav__more{
			.vw_m502_icon{
				    fill: #0099da;
			}
		}
    }
}

.page-nav__list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.page-nav__item,
.page-nav__more-item{
	position: relative;
    display: block;
    min-height: 85px;
    border-top: 1px solid #dee1e3;
}


.page-nav__icon{
	position: absolute;
    display: table;
    height: 85px;
    width: 100%;
    color: #808890;
    vertical-align: middle;
    text-align: center;
}
.page-nav__link{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    min-height: 85px;
    &:hover{
    	.vw_m502_icon{
    		fill: #0099da;
    	}
    	.page-nav__title{
    		color: #000;
    	}
    }

}
.page-nav__icon-wrap{
	margin: 0 0 10px 0;
    width: 50px;
        height: 30px;
    display: inline-block;
}
.vw_m502_icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: #808890;
    transition:all 0.3s ease;
}

.page-nav__title{
	display: block;
	transition:all 0.3s ease;
	color: #808890;
	    font: 12px/13px 'VWHeadWeb-Bold';
    letter-spacing: -0.25px;
    margin: 0 10px;
}

.page-nav-sublayer{
	z-index: 999;
    position: fixed;
    top: 0;
    left: -159px;
    width: 245px;
    height: 100%;
    padding: 0;
    padding: 50px 20px;
    box-shadow: 5px -10px 20px rgba(0,0,0,0.1);
    color: #808890;
    font: 12px/13px 'VWHeadWeb-Regular',sans-serif;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    transform: translate3d(0,0,0);
    transition: left 300ms cubic-bezier(0.18,0,0.14,1),right 300ms cubic-bezier(0.18,0,0.14,1);
    &.open{
    	transition: left 300ms cubic-bezier(0.18,0,0.14,1),right 300ms cubic-bezier(0.18,0,0.14,1);
    	left: 96px;
    }
}

.page-nav-sublayer__list{
	width: 205px;
	margin-left: 0;
	padding: 0;
	list-style-type: none;
}

.page-nav-sublayer__item{
	border-bottom: 1px solid #dee1e3;
	&:last-child{
		border-bottom: 0;
	}
	.page-nav-sublayer__link{
		color: #808890;
		    overflow: hidden;
	}
	// .vw_m502_icon {
	//     vertical-align: middle;
	//     display: inline-block;
	//     line-height: normal;
	//     width: 40px;
	//     height: 24px;
	// }
	.page-nav__title{
		margin: 0px;
		padding: 0;
		width: 66.66667%;
		display: inline-block;
		font-family: 'VWHeadWeb-Regular',sans-serif;
		padding-left: 10px;
	}
	.page-nav__icon-wrap{
		float: left;
	    line-height: normal;
	    width: 40px;
	    height: 24px;
	    margin: 0; 
	}
}

.page-nav-sublayer__link{
	display: block;
    padding: 12px 6px;
    &:hover{
    	.page-nav__title{
    		color: #000;
    	}
    	.vw_m502_icon{
    		fill: #0099da;
    	}
    }
}




.page-top{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 510px;
}

.page-top__headline{
	color: #fff;
	//padding-top: 68px;
	h1{
		color: #fff;
		font-size: 86px;
		line-height: 1.1;
	}
}

.page-top-nav{
	// position: absolute;
	// right: 0;
	// top: 0;
	text-align: right;
	overflow: hidden;
	padding-top: 25px;
}
.page-top-nav__link{
	// float: left;
	display: inline-block;
	text-align: left;
    text-align: center;
    margin: 0 0 0 20px;
    min-width: 30px;
    color: #fff;
    max-width: 118px;
    vertical-align: top;
    white-space: nowrap;
    &:first-child{
    	margin-left: 0;
    }
    svg{
		width: 30px;
		height: 30px;
		margin: 0 auto 3px auto;
		border-radius: 30px;
		display: block;
		background-color: rgba(0,0,0,0.3);
		fill: #fff;
		transition:all 0.3s ease;
    }
    &:hover{
    	svg{
    		background-color: rgba(0,0,0,0.5);
    	}
    }
}
.page-top-nav__title{
	color: #fff;
	    font-size: 12px;
    line-height: 13px;
}

.page-top-bar{
	background-color: #bdc3c6;
	.slick-arrow{
		padding: 0;
	    border: 0;
	    text-indent: -9999em;
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    position: absolute;
	    top: 50%;
	    margin-top: -10px;
	    z-index: 10;
	    &.slick-disabled{
			display: none!important;
		}
	}
	.slick-prev{
		background: url(../img/svg/arrow-left.svg) no-repeat;
		background-size: cover;
		left: 0;
	}
	.slick-next{
		right: 0;
		background: url(../img/svg/arrow-right.svg) no-repeat;
		background-size: cover;
	}
	
}

.page-top-bar__list{
	min-height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-top-bar__wrapper{
	display: table;
	width: 100%;
	overflow: hidden;
	.page-top-bar__item{
		color: #1d1f20;
		&.active{
			color: #fff;
  		}
	}
}





a.page-top-bar__item{
	// display: table-cell;
	float: left;
	display: block;
    padding-right: 18px;
    font-size: 16px;
    line-height: 32px;
    font-family: 'VWHeadWeb-Bold', sans-serif;
    &:last-child{
    	padding-right: 0;
    }
    &:hover{
    	color: #fff;
    }
}


.page-second-bar{
	background-color: #808890;
}

a.page-second-bar__item{
	// display: table-cell;
	float: left;
	display: block;
    padding-right: 18px;
    font-size: 16px;
    line-height: 32px;
    font-family: 'VWHeadWeb-Bold', sans-serif;
    &:last-child{
    	padding-right: 0;
    }
    &:hover{
    	color: #fff;
    }
}

.page-second-bar__list{
	min-height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-second-bar__wrapper{
	display: table;
	width: 100%;
	overflow: hidden;
	.page-second-bar__item{
		color: #1d1f20;
		&.active{
			color: #fff;
  		}
	}
}




.content-item{
	padding-top: 40px;
    padding-bottom: 40px;
    font-family: "VWHeadWeb-Regular", sans-serif;
}

.content-item__headline{
	margin-top: 40px;
	margin-bottom: 25px;
}

.content-item__media{
	
    margin-top: 47px;
	img{
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}



.content-item__info{
	p{

	}
	.btn{
		margin-top: 30px;
	}
}

.content-item--left{
	.content-item__media{
		float: right;
	    text-align: right;
	}
}


.content-item--right{
	.content-item__media{
		float: left;
	    text-align: left;
	}
	.content-item__headline{
		float: right;
	}
	.content-item__info{
		float: right;
	}
}



.details{
	text-align: center;
	padding: 40px 0;
	h2{
		padding: 0 50px;
		margin-bottom: 40px;
	}
}

.details__info{
	    color: #2f3538;
	    font-size: 16px;
    line-height: 25px;
    padding: 0 20px;
	h3{
		margin: 35px 0 30px 0;
	}
	p{
		margin: 0 0 35px 0;
	}
}
.details__slider{
	margin-bottom: 40px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
	.slick-dots{
		padding: 0;
		margin: 0;
		margin-top: 35px;
		list-style-type: none;
		text-align: center;
		li{
			display: inline-block;
			vertical-align: top;
			border-radius: 35%;
			cursor: pointer;
			width: 8px;
			height: 8px;
			display: inline-block;
			margin: 0 4px 10px 4px;
			background-color: #808890;
			button{
				display: none;
			}
			&.slick-active{
				background-color: #0099da;
			}
			&:hover{
				background-color: #0068aa;
			}
		}
	}
}
.details__img{
	width: 100%;
	height: 300px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.services-links{
	padding: 70px 0;
}

.services-links__img{
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    svg{
		width: 100%;
		height: 100%;
		fill: #0099da;
    }
}

.services-links__item{
	text-align: center;
	margin-bottom: 60px;
	float: none;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

.services-links__info{
	margin-top: 3px;
	    color: #2f3538;
	    font-family: "VWHeadWeb-Regular", sans-serif;
	p{
		font-size: 16px;
    	line-height: 25px;
	}
}

.services-links__anchor{
	font-family: "VWHeadWeb-Regular", sans-serif;
	font-size: 16px;
	padding-left: 23px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 13px;
    	height: 13px;
    	background: url(../img/svg/go.svg) no-repeat;
    	position: absolute;
    	top: 4px;
    	left: 0;
	}
	&:hover{
		color: #0068aa;
		&:before{
			fill: #0068aa;
		}
	}
}


.mobile-menu{
	display: none;
}

.mobile-menu__btn{
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1000;
	span{
		position: absolute;
	    right: 0;
	    top: 14px;
	    width: 30px;
	    height: 3px;
	    background-color: #0099da;
	    -webkit-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    z-index: 1000;
		&:before,
		&:after{
			display: block;
			width: 30px;
			height: 3px;
			background-color: #0099da;
			@include transition(all 0.3s ease);
			position: absolute;
			content: "";
		}
		&:before{
			top: -8px;
		}
		&:after{
			top: 8px;
		}
	}
	&.active{
		span {
		    background-color: transparent;
		    &:before{
				-webkit-transform: translateY(8px) rotate(45deg);
				-moz-transform: translateY(8px) rotate(45deg);
				-ms-transform: translateY(8px) rotate(45deg);
				-o-transform: translateY(8px) rotate(45deg);
				transform: translateY(8px) rotate(45deg);
		    }
		    &:after{
				-webkit-transform: translateY(-8px) rotate(-45deg);
				-moz-transform: translateY(-8px) rotate(-45deg);
				-ms-transform: translateY(-8px) rotate(-45deg);
				-o-transform: translateY(-8px) rotate(-45deg);
				transform: translateY(-8px) rotate(-45deg);
		    }
		}
	}
    
}

.mobile-menu__wrapper{
	display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    transform: translate3d(0,0,0);
    transition: left 300ms cubic-bezier(0.18,0,0.14,1),right 300ms cubic-bezier(0.18,0,0.14,1);
    z-index: 110000;
    position: fixed;
    top: 50px;
    left: 100%;
    right: -100%;
    padding: 0 20px;
    height: 100%;
        padding-bottom: 130px;
    &.open{
    	left: 0;
    	right: 0;
    	visibility: visible;
    }
}


.mobile-menu__list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.mobile-menu__item{
	.mobile-menu__link{
		color: #808890;
	}
	&:last-child{
		.mobile-menu__link{
			border-bottom: 0;
		}
	}
}
.mobile-menu__link{
	display: block;
    padding: 15px 6px;
    border-bottom: 1px solid #dee1e3;
    font-family: 'VWHeadWeb-Bold', sans-serif;
    svg{
    	vertical-align: middle;
	    display: inline-block;
	    line-height: normal;
	    width: 40px;
	    height: 24px;
    }
    span{
    	display: inline-block;
    	vertical-align: middle;
    }
}


.mobile-menu__bottom{
	z-index: 110000;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    background-color: #f3f5f6;
    position: fixed !important;
    display: none;
}

.mobile-menu__bottom-item{
	float: none;
    width: 25%;
    position: relative;
        padding: 10px 6px; 
    text-align: center;
    display: inline-block;
    vertical-align: top;
        margin-right: -4px;
}
.mobile-menu__bottom-link{
	svg{
		width: 25px;
	    height: 25px;
	    margin: 0 auto 2px auto;
		border-radius: 30px;
		display: block;
		background-color: rgba(0,0,0,0.3);
		fill: #fff;
	}
	span{
		display: block;
		padding-top: 5px;
		font-size: 12px;
		color: #1d1f20;
		text-align: center;
	}
	&:hover{
		svg{
			fill: #fff;
    		background-color: rgba(0,0,0,0.5);
		}
	}
}

#icon-arrow-down{
	width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    fill: #0099da;
}


.test{
	padding: 30px 0;
}

.accordion{
	padding: 40px 0;
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
}

.accordion__wrap{

}

.accordion__item{
	a{
		display: block;
		border-top: 2px solid #bdc3c6;
		padding: 25px 0;
		font-size: 24px;
		line-height: 29px;
		font-family: 'VWHeadWeb-Bold', sans-serif;
		color: #000;
		padding-left: 140px;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 17px;
			height: 19px;
			background: url(../img/svg/acc-arrow.svg) no-repeat;
			position: absolute;
			left: 50px;
			top: 50%;
			margin-top: -9px;
			background-size: cover;
			transition:all 0.3s ease;
		}
		&:hover{
			color: #000;
		}
		&.active{
			&:before{
				transform: rotate(90deg);
			}
		}
	}
	&:last-child{
		a{
			border-bottom: 2px solid #bdc3c6;
		}
	}
}

.accordion__info{
	display: none;
	margin: 30px 0 60px;
	font-size: 14px;
    line-height: 22px;
    font-family: 'VWHeadWeb-Regular', sans-serif;
}




















.page-top-anchor{
	background-color: #dee1e3;
	text-align: right;
	padding: 9px 0;
	.page-top-anchor__link{
		color: #2f3538;
	}
}

.page-top-anchor__link{
	display: inline-block;
	vertical-align: middle;
	color: #2f3538;
    font-size: 14px;
    line-height: 16px;
    font-family: "VWHeadWeb-Regular", sans-serif;
    svg{
    	margin-left: 16px;
    	display: inline-block;
    	vertical-align: middle;
		width: 10px;
		height: 10px;
		    margin-top: -4px;
    }
}

.breadcrumbs{
	background-color: #f3f5f6;
	padding: 11px 0 10px;
	font-size: 12px;
	font-family: "VWHeadWeb-Regular", sans-serif;
}

.breadcrumbs__msg{
	margin-bottom: 2px;
    color: #808890;
}

.breadcrumbs__item{
	display: inline-block;
	vertical-align: middle;
	color: #2f3538;
}
.breadcrumbs__item--home{
	&:before{
		content: "";
		width: 16px;
		height: 12px;
		display: inline-block;
		vertical-align: middle;
		background: url(../img/svg/home.svg) no-repeat;
		margin-left: -4px;
	}
}

a.breadcrumbs__item{
	color: #2f3538;
	&:hover{
		color: #0068aa;
	}
	&:after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 6px;
		height: 9px;
		background: url(../img/svg/arrow.svg) no-repeat;
		background-size: cover;
		margin: -1px 2px 0 5px;
	}
}

.page-footer{
	padding: 0 0 44px 96px;
	    width: 100%;
    color: #2f3538;
    font-family: "VWHeadWeb-Regular", sans-serif;
}

.page-footer__wrap{
	overflow: hidden;
	padding-top: 25px;
}


.page-footer__nav{
	float: left;
	width: 75%;
	.page-footer__link{
		color: #2f3538;
		&:hover{
			color: #0068aa;
		}
	}
}
.page-footer__list{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -6px 0 -16px;
	overflow: hidden;
}
.page-footer__item{
	width: 33.3333%;
	padding-left: 6px;
	padding-right: 6px;
	&:nth-child(-n+3){
		.page-footer__link{
			border-top: 0;
		}
	}
}
.page-footer__link{
	font-family: "VWHeadWeb-Regular", sans-serif;
	border-top: 1px solid #dee1e3;
	padding: 17px 0 17px 10px;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
}
.page-footer-socials{
	float: left;
	width: 25%;
	padding-left: 6px;
	.page-footer-socials__item{
		color: #2f3538;
		&:hover{
			color: #0068aa;
		}
	}
}

.page-footer-socials__item{
	font-family: "VWHeadWeb-Regular", sans-serif;
	border-top: 1px solid #dee1e3;
	padding: 17px 0 17px 10px;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	&:first-child{
		border-top: 0;
	}
	&:hover{
		.vw_m520_social_icon{
			background-color: #0068aa;
    		opacity: 1;
		}
	}
}

.vw_m520_social_icon{
	width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 10px;
        vertical-align: middle;
    background-color: #1d1f20;
    border-radius: 30px;
    fill: #fff;
    opacity: .3;
    transition: all 0.3s ease;
        margin-top: -4px;
}

.page-footer__copyright{
	padding-top: 20px;
}
.b-links{
	.b-links__item{
		color: #2f3538;
	}
}
.b-links__item{
	padding: 0 10px;
	position: relative;
	&:after{
		content: "|";
		position: absolute;
		right: -3px;
		top: -2px;
	}
	&:last-child{
		&:after{
			display: none;
		}
	}
}

.page-footer__text{
	margin-top: 45px;
	color: #808890;
	    font-size: 11px;
    line-height: 16px;
}
.page-footer-select{
	position: relative;
	display: none;
	select{
		width: 100%;
		margin: 25px 0 0 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		border: 1px solid #e5e5e5;
		height: 42px;
		background: transparent;
		border-radius: 5px;
		padding: 0 15px;
	}
}





@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1280px){
	.container-fluid{
		padding-left: 60px;
		padding-right: 60px;
	}
	.details__img {
	    height: 200px;
	}
	.details__info h3 {
	    margin: 10px 0 20px 0;
	}
	.details__info p {
	    margin: 0 0 20px 0;
	}
	.services-links {
	    padding: 30px 0;
	}
}

@media screen and (max-width: 1024px){
	.container-fluid {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.page-top {
	    height: 355px;
	}
	.page-top__headline h1{
		font-size: 40px;
    	line-height: 1.1;
	}
	.workarea h1{
		font-size: 40px;
    	line-height: 46px;
	}
	.workarea h2{
		font-size: 35px;
    	line-height: 40px;
	}
	.workarea h3{
		line-height: 25px;
    	font-size: 21px;
	}
	.workarea h4{
		font-size: 18px;
		line-height: 20px;
	}
	.workarea h5{
		font-size: 17px;
		line-height: 19px;
	}
	.workarea h6{
		font-size: 16px;
		line-height: 18px;
	}
	.services-links__info p {
	    font-size: 15px;
	    line-height: 23px;
	}
	.services-links__anchor{
		font-size: 15px;
	}
	.page-footer__link,
	.page-footer-socials__item{
	    padding: 10px 0 10px 10px;
	}
	.btn {
	    width: 75%;
	}
	.details__info{
		font-size: 14px;
	}
	.details__info p {
	    line-height: 1.2;
	}
	.details__img {
	    height: 140px;
	}
	.accordion__item{
		a{
			font-size: 18px;
			line-height: 22px;
		}
	}
}

@media screen and (max-width: 768px){
	.container-fluid {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	
	.page-top {
	    height: 250px;
		display: table;
		width: 100%;
		vertical-align: middle;
		.container-fluid{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.page-footer__nav{
		display: none;
	}
	.page-footer-socials {
	    float: none;
	    width: 100%;
	    padding-left: 0;
	    text-align: center;
	}

	.b-links{
		text-align: center;
		margin-bottom: 25px;
	}
	.page-footer__text {
	    margin-top: 20px;
	}
	.btn {
	    max-width: 280px;
	}
	.content-item__headline {
	    margin-top: 0;
	    margin-bottom: 0;
	    h3{
	    	margin-bottom: 15px;
	    }
	}
	.content-item__media {
	    margin-top: 0;
	}
	.content-item__info .btn {
	    margin-top: 10px;
	}
	.wrapper{
	    margin-left: 0;
	}
	.details__slider {
	    margin-bottom: 0;
	}
	.services-links__item{
		width: 50%;
	}
	.page-footer{
		padding-left: 0;
	}
	.page-footer-socials__item{
		border: 0;
		display: inline-block;
		width: auto;
		span{
			display: none;
		}
	}
	.vw_m520_social_icon{
		width: 38px;
		height: 38px;
	}
	.page-footer-select{
		display: block;
	}
	.b-links__item {
	    padding: 0 5px;
	    font-size: 13px;
	}
	.page-top-nav{
		display: none;
	}
	.page-nav{
		position: relative;
	    background-color: #fff;
	    color: #808890;
	    height: 50px;
	    width: 100%;
	    display: block;
	    box-shadow: none;
		min-width: inherit;
		max-width: 100%;
	}
	.page-nav-sublayer{
		display: none;
	}
	.page-nav__list{
		height: 50px;
		width: 100%;
		z-index: 1000;
		background-color: #fff;
	}
	.page-nav__item,.page-nav__more-item{
		display: none;
	}
	.page-nav__logo{
		position: absolute;
		display: table;
		left: 0;
		height: 50px;
	}
	.page-header__logo{
		margin: -10px 10px 0px 10px;
    	display: inline-block;
    	vertical-align: middle;
    	img{
    		max-width: 225px;
   			max-height: 70px;
    	}
	}
	.mobile-menu{
		display: block;
	}
	.accordion__item a {
	    padding: 17px 0;
	    padding-left: 50px;
	}
	.accordion__item a:before{
		left: 15px;
	}
	.page-top-bar__wrapper {
	    display: block;
	}
	a.page-top-bar__item {
	    padding-right: 10px;
	    font-size: 14px;
	    line-height: 18px;
	}
}

@media screen and (max-width: 500px){
	.services-links__item {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 20px;
	    display: block;
	    overflow: hidden;
	    text-align: left;
	}
	.services-links__img{
		float: left;
		width: 25%;
		padding: 0 6px;
	}
	.services-links__info,
	.services-links__anchor{
		margin-left: 27%;
	}
	.workarea{
		h2{
			font-size: 26px;
			line-height: 30px;
		}
	}
	.page-top__headline h1{
		font-size: 30px;
    	line-height: 1.1;
	}
}






