

/*FONT-FAMILY*/
$default-font:  "Helvetica-Neue-medium",Helvetica,Arial,sans-serif;

/*FONT-SIZE*/
$default-size-font: 14px;

/*BACKGROUND*/
$default-bg-color: #ffffff;

/*TEXT-COLOR*/
$base-color: #333;


/*GRID*/
$grid-columns: 12;
$grid-gutter-width: 12px;

/*RESPONSIVE */
$screen-xs: 500px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;


/*CONTAINER MIN-WIDTH*/
$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;   

/*CONTAINER WIDTH*/
$container-xs: $screen-xs;
$container-sm: $screen-sm;
$container-md:  $screen-md;
$container-lg: $screen-lg;

/*BREAKPOINT POINTS*/
$large-desktop-breakpoint: ($screen-lg - 1px);
$desktop-breakpoint: ($screen-md - 1px);
$tablet-breakpoint: ($screen-sm - 1px);
$mobile-breakpoint: ($screen-xs);




// .container{
// 	border: 1px solid red;
// }
